@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
    font-size: 16px;
    box-sizing: border-box;
}

body{
    font-family: v.$main_font;

  
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

h3{
    font-size: 2rem;
    color: v.$primary_color;
    margin: 0;
}

p{
    margin: 0;
}